# Connection details for first xmpp server (MUC)
org.ice4j.ice.harvest.NAT_HARVESTER_LOCAL_ADDRESS={{ jvb_localip }}
org.ice4j.ice.harvest.NAT_HARVESTER_PUBLIC_ADDRESS={{ jvb_externalip }}
org.jitsi.videobridge.DISABLE_TCP_HARVESTER=true
org.jitsi.videobridge.xmpp.user.jvb2.HOSTNAME={{ xmpphostname }}
org.jitsi.videobridge.xmpp.user.jvb2.DOMAIN={{ xmppdomain }}
org.jitsi.videobridge.xmpp.user.jvb2.USERNAME={{ jvb_username }}
org.jitsi.videobridge.xmpp.user.jvb2.PASSWORD={{ jvb_password }}
org.jitsi.videobridge.xmpp.user.jvb2.MUC_JIDS=JvbBrewery@{{ internalauthxmppdomain }}
org.jitsi.videobridge.xmpp.user.jvb2.MUC=JvbBrewery@{{ internalauthxmppdomain }}
org.jitsi.videobridge.xmpp.user.jvb2.MUC_NICKNAME={{ hostvars[inventory_hostname] }}
org.jitsi.videobridge.xmpp.user.jvb2.DISABLE_CERTIFICATE_VERIFICATION=true
